html.center-html,
body.center-body { 
    height: 100%;
    width: 100%;
}
.center-parent {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-child {
    width: 100px;
    height: 100px;
}